* {               /* universal selector */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  #ffccff;
  animation-name: fade-in;
  animation-duration: 3s;
}

header {
  background-color:  #ffff66;
  padding: 20px;
}
header > h1 {
  color: black;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 42px;
}

.score-board {
  border: 3px solid  #e62e00;
  width: 15%;
  border-radius: 8px;
  margin: 25px auto;
  font-size: 53px;
  text-align: center;
  padding: 12px 17px;
  font-family: 'Grandstander', cursive;
  position: relative;
}

.badge {
  background-color:   #ebebe0;
  font-size: 24px;
  padding: 4px 8px;
}

#user {
  position: absolute;
  top: 23px;
  left: -67px;
}

#comp {
  position: absolute;
  top: 23px;
  right: -67px;
}

.result {
  margin: 27px;
  font-family: 'Grandstander', cursive;
  text-align: center;
  font-size: 40px;
}


.choices {
  text-align: center;
  margin: 60px;
}

.choice {
  border: 6px solid #e62e00;
  border-radius: 50%;                      /* if don't know the measurement, always do 50% */
  display: inline-block;
  padding: 12px;
  margin: 0 25px;
  transition: all 0.5s ease;
}

.choice:hover {
  cursor: crosshair;
  background-color:  #ff3377;
  padding: 26px;
}

.green-glow {
  border: 6px solid green;
  box-shadow: 0 0 11px  #2eb82e;
}

.red-glow {
  border: 6px solid red;
  box-shadow: 0 0 10px  #cc0000;
}

.grey-glow {
  border: 6px solid grey;
  box-shadow: 0 0 10px  #6b6b47;
}

.message {
  text-align: center;
  font-family: 'Grandstander', cursive;
  font-size: 30px;
  animation-name: colour-change;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}




@keyframes colour-change {
  0% {
    color: black;
  }
  25% {
    color: red;
    transform: translateX(-30px);
  }
  50% {
    color: blue;
    transform: translateX(30px);
  }
  75% {
    color: salmon;
    transform: translateX(30px);
  }
  100% {
    color: black;
    transform: translateX(-30px);
  }
}


@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}
